<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="watson.user"/>
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

    <!-- load properties file -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:dataSource.properties</value>
                <value>classpath*:hibernate.properties</value>
                <value>classpath*:mail.properties</value>
            </list>
        </property>
    </bean>

    <!-- config the data source -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="false">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <!-- 配置连接池的初始值 -->
        <property name="initialSize" value="${connectionPool.initialSize}"/>
        <!-- 配置连接池的最大值 -->
        <property name="maxActive" value="${connectionPool.maxActive}"/>
        <!-- 最大空闲时, 当经过一个高峰之后, 连接池可以将一些用不到的连接释放, 一直减少到maxIdle为止 -->
        <property name="maxIdle" value="${connectionPool.maxIdle}"/>
        <!-- 最小空闲时, 当连接少于minIdle时会自动申请一些连接 -->
        <property name="minIdle" value="${connectionPool.minIdle}"/>
        <!-- 当连接池里connection用尽时, 建立一个connection最大等待时间(毫秒), 超时后抛出异常 -->
        <property name="maxWait" value="${connectionPool.maxWait}"/>
        <property name="poolPreparedStatements" value="${connectionPool.poolPreparedStatements}"/>
    </bean>

    <!-- 配置SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan">
            <list>
                <value>watson.user</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${hibernate.dialect}</prop>
                <!-- hibernate.current_session_context_class 在使用Spring @Transactional时需要注释掉 -->
                <!--<prop key="hibernate.current_session_context_class">${hibernate.current_session_context_class}</prop>-->
                <prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
                <prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
                <prop key="javax.persistence.validation.mode">${javax.persistence.validation.mode}</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <!-- Import other beans.xml files  -->
    <import resource="notificationServiceBeans.xml" />

</beans>