PLEASE DO NOT REPLY TO THIS EMAIL , THIS EMAIL BOX IS NOT MONITORED

Hi ${approver},

This is to inform you that you have a WATSON New User Registration request awaiting your approval.

To review and approve the request, please visit ${url}. You would be asked to log in using your HP email (SEA) and Windows password.

Regards,
Watson Support Team
